.main-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  width: 900px;
  margin: 100px auto 0 auto;
  border: solid blue 1px;
  border-radius: 10px;
}

.heading{
  text-align: center;
  height: 20%
}



.input-area{
  display: flex;
  justify-content: space-around;
  width: 100%
}
